/*stylesheet for different device sizes*/

html *{
     /*style for larger screens------------------------------------------------- */
    @media screen and (min-width:1100px){
        
        /*hide hamburger menu*/
        .menu-container{
            display:none;
        }

        /*show links*/
        #links{
            display:block; 
        }

        #overlay-links{
            display:none;
        }
    }
    
    
    /*style for transition to smaller screens------------------------------------------------- */
    @media screen and (max-width:1099px){
     
        /*show hamburger menu*/
        .menu-container{
           display: inline-block;
           cursor: pointer;
           z-index:1000;
        } 

        /*hide nav links*/
        #links{
           display: none;
        }

        .overlay-menu{
            position: fixed;
            height: 1005px; 
            width:100%;
            top:0;
            bottom:0;
            right:0;
            left:0;
            background-color:rgba(0,0,0,0.8);
            overflow:hidden;
            display:none;
            z-index:999;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #overlay-links{
            position:absolute;
            top:20%;
            bottom:20%
        }
        #overlay-links > ul > li{
            list-style-type: none;
            text-align: center;
        }

        #overlay-links > ul > li > a{
            color:#A9A8A6;
            font-size: 40px;
            margin: 15px 0;
            text-decoration:none;
        }
        #overlay-links > ul > li > a:hover{
            color:white;
        }
    }

}